<div class="skill">
  <mat-grid-list cols="3" rowHeight="2:1">
    <mat-grid-tile>
      <mat-card>Angular</mat-card>
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
  </mat-grid-list>
</div>
<!--<div class="skillData">-->
<!--<ul class="skills">-->
<!--<li class="oneSkill" *ngFor="let skill of (sList$ | async)">-->
<!--{{ skill?.Ability}}-->
<!--</li>-->
<!--</ul>-->
<!--{{ (sList$ | async) | json }}-->
<!--</div>-->

