<mat-toolbar class="menu">
  <span class="logo-word-ver"><a href="/">Rhubarb</a></span>
  <span class="placeholder"></span>
  <button mat-button [matMenuTriggerFor]="menu" color="primary"><mat-icon>menu</mat-icon></button>
  <mat-menu #menu="matMenu" >
    <button mat-menu-item>Skill</button>
    <button mat-menu-item>Must-Know</button>
    <button mat-menu-item>Project</button>
  </mat-menu>
</mat-toolbar>

<!--<ul class="menu-container">-->
<!--<li><a class="menu-item" href="#" (click)="onMenuClick($event)">Search</a></li>-->
<!--<li><a class="menu-item" href="#">Skills</a></li>-->
<!--<li><a class="menu-item" href="#">Needs</a></li>-->
<!--<li><a class="menu-item" href="#">Mistakes</a></li>-->
<!--</ul>-->
<!--<mat-icon svgIcon="logo_white" class="logo"></mat-icon>-->


