$font-stack: Lato, sans-serif;
$primary-color: #c01e5c;
$menu-color: #fff;

mat-toolbar {
  position: fixed;
  top: 0;
  z-index: 2;
  font-family: $font-stack;
}

.logo-word-ver {
  border: $primary-color 2px solid;
  font-weight: 500;
  padding: 0 0.5em;
}

a {
  color: $primary-color;
  text-decoration: none;
}

.placeholder {
  flex: 1 1 auto;
}

.menu-item {
  font: 300 1em $font-stack;
  color: $primary-color;
  text-decoration: none;
}


