<!--<mat-toolbar [color]='"primary"'>-->
  <!--<mat-icon svgIcon="logo"></mat-icon>-->
  <!--<button mat-raised-button class="nav">Art</button>-->
  <!--<button mat-raised-button class="nav">Help</button>-->
  <!--<button mat-raised-button class="nav">Search</button>-->
<!--</mat-toolbar>-->
<app-menu></app-menu>
<app-home></app-home>
<mat-divider></mat-divider>
<app-art></app-art>
<mat-divider></mat-divider>
<app-must-know></app-must-know>
<mat-divider></mat-divider>
<app-project></app-project>
