<div class="project">
  <mat-grid-list cols="3" rowHeight="2:1">
    <mat-grid-tile>
      <mat-card>My Angular Skill Tracking App</mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>My Cocktail Mixing App</mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>My Tea Brewing App</mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>Placeholder App</mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>Placeholder App</mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>Placeholder App</mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
