<div class="container">
  <!--<div class="cont">New Skill</div>-->
  <!--<div class="cont">Dispirit</div>-->
  <!--<div class="cont">New Evolve</div>-->
  <!--<div class="cont">Animalcule</div>-->

  <div class="cont" *ngFor="let skill of skillList"
       (click)="onSkillChosen(skill)">
    {{ skill }}
  </div>
  <p class="msg" *ngIf="skillChosen">
    the skill you chose is {{ skillChosen }}
  </p>
</div>
<div class="container2">
  <input type="text" class="name" [(ngModel)]="nm"
         name="nm">
  <p class="ttt">{{ nm }}</p>
</div>

