$font-stack: Lato, sans-serif;
$primary-color: #c01e5c;
$menu-color: #c01e5c;
$side-color: #0336ff;

.home {
  padding-top: 8em;
}

.logo {
  font-family: $font-stack;
  color: $primary-color;
  border: $primary-color 3px solid;
  padding: 0.5em 1em;
}

.desc1 {
  font-family: $font-stack;
  font-weight: 300;
}

.desc2 {
  font: 300 1em $font-stack;
}

.underline {
  background: linear-gradient(120deg, #c01e5c 0%, #c01e5c 100%) no-repeat 0 88%;
  background-size: 100% 0.3em;
  transition: background-size 0.25s ease-in;
  &:hover {
    background-size: 100% 88%;
    cursor: pointer;
  }
}

a {
  text-decoration: none;
  color: #fff;
}

