$font-stack: Lato, sans-serif;
$primary-color: #c01e5c;
$menu-color: #c01e5c;
$side-color: #0336ff;

.home {
  padding-top: 8em;
}

.logo {
  width: 80px;
  border: $primary-color 3px solid;
  padding: 1em;
}

.desc1 {
  font: 300 2em $font-stack;
}

.desc2 {
  font: 300 1em $font-stack;
}

.underline {
  background: linear-gradient(120deg, #c01e5c 0%, #c01e5c 100%) no-repeat 0 88%;
  background-size: 100% 0.1em;
  transition: background-size 0.25s ease-in;
  &:hover {
    background-size: 10% 0;
    cursor: pointer;
  }
}

